{{ page.header() }}
        <div class="row">
          <h1 class="page-header bold">add friend (modal test)</h1>
        </div>
        <div class="row">
        </div>
        <!-- end of accordion div -->
        <div class="row">
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">add friend: <span id="addDebt-recipient"></span></h4> 
                </div>
                <div class="modal-body">
                  <div id="addDebt-div">
                    <form>
                      <div class="form-group">
                        <label for="email">e-mail:</label>
                        <input type="text" class="form-control" id="email"></input>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" id="submit" class="btn btn-primary">Submit</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/model.js"></script>

<script> 
  $('#myModal').modal({'show' : true});
  $('#submit').click(function() {
    var newFriend = friends.newInstance({'email': $('#email').val()});
    newFriend.create();
  });
</script>
{{ page.footer() }}