    {{ page.header() }}      
          <div style="width:100%;">
            <div class="row">
              <h1 class="page-header bold">past transactions</h1>
            </div>
            <div class="row">
              <div class="panel-body grey-bordered-box" id="history-tbl-div">
      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

    <script src="../assets/js/pages/history.js"></script>
    {{ page.footer() }}