{{ page.header() }}
{% autoescape true %}
    <link rel="stylesheet" href="../assets/css/zocial/zocial.css"/>
    <script src="../assets/js/pages/login.js" type="text/javascript"></script>
    <div class="col-md-6 grey-box">
      <h1><b>welcome to payme.</b></h1>
      <h4 style="color:white;">keep track of what you owe!</h4>
      <br><br><br>
      <div class="pull-right">
        to get started, log in with 
        <a onclick="startLogin()" class="zocial google">Google</a>
      </div>
    </div>
{%  endautoescape %}
{{ page.footer() }}