<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <title>Lyubo's Test Page</title>
    </head>
    <body>
        <script type="text/javascript" src="/static/lyubo.js"></script>
        Lyubo's testing
    </body>
</html>
{%  endautoescape %}