{{ page.header() }}

<link rel="stylesheet" href="/assets/css/pages/profile.css">

<div class="row">
    <div class="col-md-8 form-horizontal dark-grey-box" style="color:white;">
        <h1 class="page-header bold">it's you!</h1>
        <div class="read-only-form top-buffer" id="user-profile">
            <div class="col-md-3" id="profile-picture-div">
            </div>
        </div>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-8 form-horizontal dark-grey-box" style="color:white;">
        <h1 class="page-header bold">notifications</h1>
        <div class="top-buffer" id="notification-content-div" style="font-size:18px;"></div>
    </div>

</div>

{{ page.footer() }}

<script src="../assets/js/pages/profile.js"></script>
