{{ page.header() }}

<div class="row">
    <div class="col-md-8 form-horizontal dark-grey-box" style="color:white;">
        <h1 class="page-header bold">it's you!</h1>
        <div class="read-only-form top-buffer" id="user-profile">
            <div class="col-md-5" style="margin-top:10px;margin-bottom:10px;">
                <img src="http://i.ytimg.com/vi/z2hyky_9WX8/hqdefault.jpg" class="img-circle img-profile">
            </div>

        </div>
    </div>
</div>

{{ page.footer() }}

<script src="../assets/js/pages/profile.js"></script>
