{{ page.header() }}

    <div style="width:100%;">
        <div class="row">
          <h1 class="page-header bold">
            friend requests
          </h1>
            <div class="top-buffer" id="friend-requests" style="font-size:18px;"></div>
        </div>
    </div>

    <script src="/assets/js/pages/requestFriend.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/model.js"></script>

{{ page.footer() }}
