{{ page.header() }}

    <div style="width:100%;">
        <div class="row">
          <h1 class="page-header bold">
            friend requests
          </h1>
            <div class="top-buffer" id="friend-requests" style="font-size:18px;"></div>
        </div>
    </div>

    <script src="/assets/js/pages/requestFriend.js"></script>

{{ page.footer() }}
