body {
  background-image: url('http://i.imgur.com/aOCgvGa.jpg');
  background-repeat: no-repeat;
}

.grey-box {
  background-color: rgba(160, 160, 160, 0.5);
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 8px;
}